<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
    <add name="exchangeconnection" connectionString="data source=.\sqlexpress; Initial Catalog=exchange_viewer; User Id=sa; password=nucleon@123;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
 
  <appSettings>
    <add key="EmailFrom" value="lwang@televu.com" />
    <add key="delete_after" value="14" />
    <add key="send_mail_at" value="4:18 PM" />
    <add key="default_pwd" value="123" />
    <add key="root_url" value="http://localhost:2395" />
    <add key="email_save_at" value="D:\Jaswinder\mailexchange\save_email" />
    <add key="inbox_name" value="Inbox" />
    <add key="Spam_name" value="Junk E-mail" />
    <add key="Exchange_server" value="http://televu.com/exchange/" />
    <add key="Spam_Exchange_server" value="http://televu.com/exchange/" />
    <add key="spam_alias" value="spam-depot" />
    <add key="spam_pwd" value="123" />
    <add key="spam_username" value="spam-depot" />
    <add key="temp_mail" value="D:\Jaswinder\mailexchange\temp_mail" />
    <add key="daily_sender_alias" value="lwang" />
    <add key="daily_sender_password" value="123" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="mail.televu.com"
                 defaultCredentials="false" password="123" userName="jwan@televu.com" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <httpRuntime requestValidationMode="2.0"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <!--<membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>-->

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
